$color-green: #5DDFA2;
$color-blue-90: #0099CC;
$color-blue-60: #00C1DF;
$color-blue-30: #00E5F2;
$color-white-10: rgba(255, 255, 255, 0.1);
$color-white-4: rgba(255, 255, 255, 0.04);
$color-gray: #9E9E9E;
$color-gray-50: #858585;
$color-gray-90: #434343;
$color-red: #e80b1aaa;

$blue-gradient: linear-gradient(315deg, $color-blue-90, $color-blue-60 50%, $color-blue-30)
